{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  padding: 1rem;
  max-width: 45ch;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.25rem;
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav a {
  color: teal;
  text-decoration: none;
}

header nav a.active {
  text-decoration: underline;
}

header nav button {
  background: none;
  border: none;
  color: teal;
  cursor: pointer;
}

a {
  color: teal;
}

a:hover {
  text-decoration: underline;
}

main {
  display: grid;
  gap: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}